@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-stroke-2 {
    -webkit-text-stroke: 9px #243041;
  }

  .text-stroke-4 {
    -webkit-text-stroke: 4px #243041;
  }
}

@layer components {
  .playbackgroundStyle {
    @apply bg-no-repeat bg-mobile-playBg h-96 bg-cover;

  /* Media queries for tablet and desktop */
    @screen md {
      width: 500px;
      height: 430px;
      background-image: url("/assets/images/hman_tablet-play-bg.svg");
    }
  
    @screen xl {
      width: 692px;
      height: 600px;
      background-image: url("/assets/images/hman_desktop-play-bg.svg");
    }
  }
  }


@font-face {
  font-family: 'Mouse Memoirs';
  src: url("/assets/fonts/MouseMemoirs-Regular.ttf") format('truetype');
  fallback:Arial,sans-serif;
}

html {
  font-family: "Mouse Memoirs",sans-serif;
}